*{
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
}
html{
    font-size: 62.5%;
}


.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #2C3C54;
/*    nouvelle couleur de fond*/
}

h1{
    color: black;
}
.switch{
    width: 90px;
    height: 30px;
    background-color: #1E2939;
    border-radius: 15px;
    position: relative;
    border: 1px solid #1E2939;
    padding: 1rem;
}

.btn{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: -1px;
    left: -1px;
}

.switch i{
    position: absolute;
    color: #FFD363;
    top: 6px;
    right: 23px;
}

.btn-change{
    right: -1px;
    left: auto; 
/*    neccessaire pour ne pas prendre en compte la valeur left*/
}

.icone-change{
    left: 20px;
}

.switch-change{
    background-color: #61b3ff;
    border: 1px solid #61b3ff;
}

.container-change{
    background-color: #CBE6FF;
}


